.react-calendar {
    width: 500px;
    max-width: 100%;
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: "SUIT-Medium";
    line-height: 1.125em;
}